<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.openbook"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Openbook"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="31"
        android:hardwareAccelerated="true">

        <service android:name=".FCM.FCM"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".Activity.Intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.Login" />
        <activity android:name=".Activity.SignUp" />
        <activity android:name=".Activity.PaymentSelect"/>
        <activity android:name=".Activity.Menu" />

        <activity android:name=".Activity.Table"
            android:exported="true">
            <intent-filter>
                <action android:name="tableInformationArrived"/>
            </intent-filter>
        </activity>


        <activity android:name=".Activity.CallServer" />

        <activity android:name=".Chatting.ChattingUI"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="chattingDataArrived"/>
            </intent-filter>
            <intent-filter>
                <action android:name="SendChattingData"/>
            </intent-filter>
            <intent-filter>
                <action android:name="isReadArrived"/>
            </intent-filter>
        </activity>

        <activity android:name=".Activity.PopUpChatting"
            android:theme="@android:style/Theme.Dialog"/>

        <activity android:name=".Activity.PopUpProfile"
            android:theme="@android:style/Theme.Dialog"/>

        <activity android:name=".Activity.AdminModifyTableQuantity"
            android:theme="@android:style/Theme.Dialog"/>

        <activity android:name=".Activity.AdminModifyMenu"
            android:theme="@android:style/Theme.Dialog"/>

        <activity android:name=".Activity.AdminPaymentAfterPopup"
            android:theme="@android:style/Theme.Dialog"/>

        <activity android:name=".Activity.AdminPaymentBeforePopup"
            android:theme="@android:style/Theme.Dialog"/>

        <activity android:name=".Activity.AdminSales"/>

        <activity android:name=".Activity.Admin"/>
        <activity android:name=".KakaoPay"/>


    </application>

</manifest>